fastapi
uvicorn
requests
python-dotenv
pydantic
playwright
selenium
python-jose[cryptography]
slowapi
fastapi-csrf-protect
pluggy
python-multipart
aiofiles
passlib[bcrypt]
opencv-python-headless
fastapi-users
