fastapi
uvicorn
requests
python-dotenv
pydantic
playwright
selenium
python-jose[cryptography]
slowapi
fastapi-csrf-protect
pluggy
python-multipart
aiofiles
passlib[bcrypt]
bcrypt==4.0.1  # Pin for Windows passlib compatibility
opencv-python-headless
fastapi-users
